@font-face {
    font-family: anodetonoone;
    src        : url(../fontes/ANODETONOONE.TTF);
}

body,
html {
    height: 100%;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-y      : hidden;
    background-image: url(../imagens/fundo.jpg);
    display         : flex;
    justify-content : center;
    align-items     : center;
}

h1 {
    font-family: anodetonoone;
    font-size  : 40px;
    color      : #603a03
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size  : 20px; 
    color      : #fff;
}

.container {
    width   : 950px;
    margin  : 0 auto;
    position: relative;
}

.fundo-jogo {
    height          : 630px;
    background-image: url(../imagens/fundo_game.jpg);
    border          : solid #fff;
    display         : flex;
    justify-content : center;
    align-items     : center;
}

.inicio, .fim {
    width     : 350px;
    background: #fff;
    text-align: center;
    padding   : 10px 10px 25px 10px;
}

.placar {
    width   : 700px;
    height  : 50px;
    position: absolute;
    left    : 5px;
    top     : 590px;
}

.energia {
    width: 140px;
    height: 38px;
    position: absolute;
    left: 750px;
    top: 7px;
}

.jogador {
    width           : 256px;
    height          : 66px;
    position        : absolute;
    left            : 8px;
    top             : 179px;
    background-image: url(../imagens/apache.png);
}

.aliado {
    width           : 44px;
    height          : 51px;
    position        : absolute;
    left            : 10px;
    top             : 464px;
    background-image: url(../imagens/aliado.png);
}

.helicoptero-inimigo {
    width           : 256px;
    height          : 66px;
    position        : absolute;
    left            : 689px;
    top             : 253px;
    background-image: url(../imagens/helicoptero-inimigo.png);
}

.caminhao {
    width           : 165px;
    height          : 70px;
    position        : absolute;
    left            : 775px;
    top             : 447px;
    background-image: url(../imagens/caminhao.png);
}

.projetil {
    width           : 40px;
    height          : 20px;
    position        : absolute;
    background-image: url(../imagens/projetil.png);
}

.explosao-helicoptero-inimigo,
.explosao-caminhao {
    background-image: url(../imagens/explosao.png);
    width           : 100px;
    height          : 87px;
    position        : absolute;

}

/* animações */
.animacao-jogador {
    background-image: url(../imagens/apache.png);
    animation       : animacao-jogador .5s steps(2) infinite;
}

@keyframes animacao-jogador {
    from {
        background-position: 0px;
    }

    to {
        background-position: -512px;
    }
}

.animacao-helicoptero-inimigo {
    background-image: url(../imagens/helicoptero-inimigo.png);
    animation       : animacao-helicoptero-inimigo .5s steps(2) infinite;
}

@keyframes animacao-helicoptero-inimigo {
    from {
        background-position: 0px;
    }

    to {
        background-position: -512px;
    }
}

.animacao-aliado {
    background-image: url(../imagens/aliado.png);
    animation       : animacao-aliado 1s steps(12) infinite;
}

@keyframes animacao-aliado {
    from {
        background-position: 0px;
    }

    to {
        background-position: -528px;
    }
}

.explosao-aliado {
    background-image: url(../imagens/aliado_explosao.png);
    width           : 44px;
    height          : 51px;
    position        : absolute;
    animation       : explosao-aliado .5s steps(7) infinite;
}

@keyframes explosao-aliado {
    from {
        background-position: 0px;
    }

    to {
        background-position: -308px;
    }
}